// @import url(_variables.scss);
@use "variables";
@use "integrate";
@use "cards";
@use "modal";
@use "responsive";
@use "footer";
@use "detail";

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0%;
}
